.galaxy_roles/
.kitchen/
**/.terraform/
.vagrant/
**/*.retry
vagrant/*.log
**/.env
**/*.zip
*.backup
**/*.bak
.vscode
.orig

terraform/tools/modules/lambda/scripts/ebs_snapshot_creator.py

vagrant/vagrant-linux-virtualbox/.envrc

test/integration/r10-5/inspec/*.rb

neoload/neoload_projects/Smartshop/results/

**/.DS_Store

**/errored.tfstate